@model PlannerLibrary.DbModels.TblStudent

@{
    ViewData["Title"] = "LoginSemesterDetails";
}
@{ Layout = "_Layout";}
<h1>LoginSemesterDetails</h1>

<h4>TblStudent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LoginSemesterDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                @*<script>document.getElementById('idDate').value =@Convert.ToDateTime(Global.StartDate.Value.ToString("d")); </script>*@
                <input type="text" value="@Global.StartDate.Value.ToString("dd-MMM-yyyy")" class="form-control" readonly />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NumberOfWeeks" class="control-label"></label>
                <input type="text" value="@Global.NoOfWeeks" class="form-control" readonly />
                @*<script>document.getElementById('idWeeks').value =@Global.NoOfWeeks; </script>*@
                <span asp-validation-for="NumberOfWeeks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a type="button" asp-action="SemesterDetails" asp-route-id="@Global.StudentNumber">Edit</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}