@model PlannerLibrary.Models.Verification

@{
    ViewData["Title"] = "OTPVerification";
}

<h1>OTPVerification</h1>
<div class="alert-info">
    <p>@ViewBag.OTPMessage</p>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OTPVerification">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OneTimePin" class="control-label"></label>
                <input asp-for="OneTimePin" class="form-control" />
                <span asp-validation-for="OneTimePin" class="text-danger"></span>
                <p class="alert-danger">
                    @ViewBag.Error
                </p>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ResendOTP">Did not recieve OTP? Resend.</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
