@model PlannerLibrary.DbModels.TblStudent

@{
    ViewData["Title"] = "SemesterDetails";
}

<h1>SemesterDetails</h1>

<h4>TblStudent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SemesterDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                @{ if (Model.StartDate == null)
                    {
                        <input asp-for="StartDate" class="form-control" id="idDate" asp-format="{0:yyyy-MM-dd}" type="date" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    }
                    else
                    {
                        <input asp-for="StartDate" class="form-control" id="idDate" asp-format="{0:yyyy-MM-dd}" type="date" value="@Model.StartDate" />
                        <script>document.getElementById('idWeeks').value =@Global.StartDate; </script>
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    } }

            </div>
            <div class="form-group">
                <label asp-for="NumberOfWeeks" class="control-label"></label>
                <input asp-for="NumberOfWeeks" class="form-control" id="idWeeks" />
                <script>document.getElementById('idWeeks').value =@Global.NoOfWeeks; </script>
                <span asp-validation-for="NumberOfWeeks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="LoginSemesterDetails">Back to Details</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
