@model PlannerLibrary.DbModels.TblStudentModule

@{
    ViewData["Title"] = "SetDayReminder";
}

<h1>SetDayReminder</h1>

<h4>TblStudentModule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SetDayReminder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ModuleId" class="control-label"></label>
                <select asp-for="ModuleId" class ="form-control" asp-items="ViewBag.ModuleId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StudyReminderDay" class="control-label"></label>
                <select asp-for="StudyReminderDay" class="form-control" asp-items="@ViewBag.lstDaysOfWeek"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Set Reminder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
