@{
    ViewData["Title"] = "Home Page";
}


    @{
        if (ViewBag.StudyReminder != null)
        {
            <div>
                <script>
                alert('@ViewBag.StudyReminder')
                </script>
            </div>
        }
    }
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>